.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg2.png);
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    &-content{
        padding: 40px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        p{
            color: $secondary-color;
        }
        h1{
            color: $text-color;
            font-size: 7vmin;
            text-align: center;
        }
    }
}