@media screen and (max-width: 767px) {
  .navbar-links {
    display: none;
  }
  .explore-content {
    h1 {
      font-size: 6vmin;
    }
    .line {
      width: 100px;
    }
    p {
      display: none;
    }
    .mybutton {
      padding: 10px 10px;
    }
  }
  .tours {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;

    &-left {
      width: 100%;
      gap: 10px;
      margin-bottom: 20px;
    }
    &-right {
      width: 60%;
    }
  }
}
